:root {
  --bg-clear-day: url(/src/assets/images/weathercode-backgrounds/clear-day.png);
  --bg-clear-night: url(/src/assets/images/weathercode-backgrounds/clear-night.png);
  --bg-fewclouds-day: url(/src/assets/images/weathercode-backgrounds/fewclouds-day.png);
  --bg-fewclouds-night: url(/src/assets/images/weathercode-backgrounds/fewclouds-night.png);
  --bg-cloudy-day: url(/src/assets/images/weathercode-backgrounds/cloudy-day.png);
  --bg-cloudy-night: url(/src/assets/images/weathercode-backgrounds/cloudy-night.png);
  --bg-rain-day: url(/src/assets/images/weathercode-backgrounds/rain-day.png);
  --bg-rain-night: url(/src/assets/images/weathercode-backgrounds/rain-night.png);
  --bg-storm-day: url(/src/assets/images/weathercode-backgrounds/storm-day.png);
  --bg-storm-night: url(/src/assets/images/weathercode-backgrounds/storm-night.png);
  --bg-snow-day: url(/src/assets/images/weathercode-backgrounds/snow-day.png);
  --bg-snow-night: url(/src/assets/images/weathercode-backgrounds/snow-night.png);

  --icon-clear-day: url(/src/assets/images/weathercode-icons/clear-day.svg);
  --icon-clear-night: url(/src/assets/images/weathercode-icons/clear-night.svg);
  --icon-fewclouds-day: url(/src/assets/images/weathercode-icons/fewclouds-day.svg);
  --icon-fewclouds-night: url(/src/assets/images/weathercode-icons/fewclouds-night.svg);
  --icon-cloudy-day: url(/src/assets/images/weathercode-icons/cloudy-day.svg);
  --icon-cloudy-night: url(/src/assets/images/weathercode-icons/cloudy-night.svg);
  --icon-rain-day: url(/src/assets/images/weathercode-icons/rain-day.svg);
  --icon-rain-night: url(/src/assets/images/weathercode-icons/rain-night.svg);
  --icon-storm-day: url(/src/assets/images/weathercode-icons/storm-day.svg);
  --icon-storm-night: url(/src/assets/images/weathercode-icons/storm-night.svg);
  --icon-snow-day: url(/src/assets/images/weathercode-icons/snow-day.svg);
  --icon-snow-night: url(/src/assets/images/weathercode-icons/snow-night.svg);
}
